In [1]:
# imports
import pandas as pd
import os
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from plotly.subplots import make_subplots
# allows to output plots in the notebook
%matplotlib inline

In [2]:
# changing to correct directory
# DO NOT RUN A SECOND TIME (Restart & Run All is allowed)
os.chdir("..")

## Figuring out when is electricity the cheapest
 - Current dateTime format is CET (UTC+1).
 - Finding the right hours
    - This can be done most easily by grouping by hour and then checking which hours have the average lowest prices
    - Also a bit more advanced would be to convert it into percentages and then find it by percentages (100% being the daily highest and 0 being 0%)
    - Both approaches should give approx the same answer

In [7]:
# reading in files
nordpool = pd.read_csv(os.path.join("data", "processed", "nordpool_estonia.csv"))
#nordpool['DateTime'] = pd.to_datetime(nordpool.pop('Date')) + pd.to_timedelta(nordpool.pop('Time'))
nordpool.dropna(inplace=True)
nordpool.drop_duplicates(inplace=True)
nordpool[:24]

          Date      Time  elspot_price  consumption
0   2016-01-01  00:00:00         16.39        911.0
1   2016-01-01  01:00:00         16.04        882.0
2   2016-01-01  02:00:00         15.74        854.0
3   2016-01-01  03:00:00         15.57        828.0
4   2016-01-01  04:00:00         15.47        821.0
5   2016-01-01  05:00:00         15.75        823.0
6   2016-01-01  06:00:00         15.36        842.0
7   2016-01-01  07:00:00         15.37        864.0
8   2016-01-01  08:00:00         15.19        869.0
9   2016-01-01  09:00:00         15.39        910.0
10  2016-01-01  10:00:00         15.78        947.0
11  2016-01-01  11:00:00         16.15        967.0
12  2016-01-01  12:00:00         16.50        975.0
13  2016-01-01  13:00:00         16.72        980.0
14  2016-01-01  14:00:00         17.17       1008.0
15  2016-01-01  15:00:00         18.00       1088.0
16  2016-01-01  16:00:00         18.53       1108.0
17  2016-01-01  17:00:00         19.11       1104.0
18  2016-01-01  18:00:00         18.68       1092.0
19  2016-01-01  19:00:00         17.93       1079.0
20  2016-01-01  20:00:00         17.69       1054.0
21  2016-01-01  21:00:00         19.29       1010.0
22  2016-01-01  22:00:00         22.04        972.0
23  2016-01-01  23:00:00         16.25        923.0